@media (max-width: 1200px) {
  .transaction-detail .part1,
  .transaction-detail .part2 {
    width: 100% !important;
  }
}
@media (max-width: 1200px) {
  .header .logo {
    width: 420px !important;
    margin-top: 20px !important;
  }

  .top-details {
    grid-template-columns: 1fr !important;
    gap: 15px !important;
  }
  .top-items {
    gap: 5px !important;
  }

  .person-details {
    grid-template-columns: 1fr !important;
  }
  .body-part {
    min-height: 100px;
    display: flex !important;
    align-items: center !important;
  }

  .sender-details {
    grid-template-columns: 1fr !important;
  }
  .transaction-details {
    grid-template-columns: 1fr !important;
  }
  .transaction-detail {
    grid-template-areas:
      "part1 "
      "part2 "
      "foot " !important;
    height: fit-content !important;
  }
  .transaction-detail .part1,
  .transaction-detail .part2 {
    border: none !important;
    width: 100% !important;
  }
  .foot {
    height: fit-content !important;
  }
  .foot-content {
    width: 100% !important;
  }
  .footer {
    flex-direction: column !important;
    gap: 10px;
  }

  .alert {
    display: none !important  ;
  }
}

@media (max-width: 900px) {
  .header {
    height: 80px !important;
  }
  .header .logo {
    width: 320px !important;
    margin-top: -13px !important;
  }
  .qr-code-box {
    display: none !important;
  }
  .person-detail {
    height: fit-content !important  ;
  }
  .person-body {
    height: fit-content !important;
  }
}
@media (max-width: 768px) {
  .pelak {
    position: static !important;
    margin-bottom: 12px !important;
  }
  .footer {
    padding: 25px 0 !important;
    height: fit-content !important;
  }
  .footer .wrapper {
    flex-direction: column !important;
    gap: 10px;
  }
}
@media (max-width: 600px) {
  /* .social-icons .icons img {
    width: 15px !important;
  } */
}
